<?xml version="1.0" encoding ="UTF-8"?>
<suite name="Insuranve Website automation" >
	<listeners>
        <listener class-name="listeners.TestListener"/>
    </listeners>

    <test name="End to End Flow">
    <parameter name="browser" value="chrome" />
        <classes>
            <class name="testcases.TestHealthInsurance"/>
            <class name="testcases.TestComplaintFlow"/>
            <class name="testcases.TestBikeInsurance"/>
        </classes>
    </test>

</suite>
